html, body {
  background-color: #2C2738;
}

h1 {
  font-family: ;
  font-size: 36px;
  color: white;
  text-align: center;
  font-weight: normal;
}

h2 {
  font-family: ;
  font-size: 29px;
  color: #BA95E3;
  text-align: center;
  font-weight: normal;
}

h3 {
  font-family: ;
  font-size: 20px;
  color: #BA95E3;
  text-align: center;
  font-weight: normal;
}

p {
  color: white;
  font-size: 14px;
  line-height: 1.4em;
}

.header {
  margin-top: 25px;
  padding-bottom: 60px;
  background: #2c2738; /* Old browsers */
  background: -moz-linear-gradient(top,  #2c2738 0%, #2c2738 66%, #3b3548 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2c2738), color-stop(66%,#2c2738), color-stop(100%,#3b3548)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #2c2738 0%,#2c2738 66%,#3b3548 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #2c2738 0%,#2c2738 66%,#3b3548 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #2c2738 0%,#2c2738 66%,#3b3548 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #2c2738 0%,#2c2738 66%,#3b3548 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c2738', endColorstr='#3b3548',GradientType=0 ); /* IE6-9 */

}

.main-mobile {
  text-align: center;
  margin-top: 10px;
}

.main-screen {
  height: 477px;
}

.arrows-text {
  text-align: center;
  margin-left: 60px;
  margin-bottom: 50px;
  margin-top: 10px;
}

.three-screens {
  background: #3b3548; /* Old browsers */
  background: -moz-linear-gradient(top,  #3b3548 0%, #2f293b 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b3548), color-stop(100%,#2f293b)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #3b3548 0%,#2f293b 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #3b3548 0%,#2f293b 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #3b3548 0%,#2f293b 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #3b3548 0%,#2f293b 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b3548', endColorstr='#2f293b',GradientType=0 ); /* IE6-9 */
}

.call-to-action {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #453F52;
}

.join-beta-btn {
  margin-top: 3px;
  float: right;
  background-color: #BA95E3;
  border-radius: 4px;
}

.screens {
  text-align: center;
  height: 350px;
}

.read-screen {
  margin-right: -45px;
}

.approve-screen {
  margin-left: -45px;
}

.footer {
  padding-top: 40px;
  padding-bottom: 50px;
  background-color: #2F293B;
}

.footer-text {
  color: white;
  margin-top: 11px;
  margin-bottom: 8px;
}

.social-media-area {
  text-align: center;
}

.twitter {
  padding-top: 3px;
}

.copyright {
  text-align: center;
  margin-top: 50px;
}

.secondary-menu {
  float: right;
  text-align: center;
}

.support {
  padding-left: 4px !important;
  padding-right: 33px !important;
}

#secondary-menu {
  color: white;
}